// Tex Box Scrollbar
.list-wrapper {
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #E4E4E4;
        border-radius: 2rem;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(158, 158, 158);
        opacity: .2;
        border-radius: 2rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: grey;
    }
}